
<div class="row">
    <div class="col-md-12">

        <div class="gameon">
            <div class="messageContainer" ng-show="game.gameover">
                <div class="winmessage">{{game.winmessage}}<br/> GAME OVER</div>
            </div>

            <div class="tableContainer">
                <div class="gametable">
                    <div ng-repeat="row in rows" class="tablerow">
                        <div id="{{column.id}}" class="{{column.class}}" ng-repeat="column in row" >
                            <div ng-click="markPlayerMove(column)" class="boxContent{{column.letter}}"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>
